/* 
    General Styles
*/
body {
    overflow-x: hidden !important;
}
// .container {
    
//     overflow-x: hidden !important;
// }

// #people {
//     height: 100px;
//     width: 100px;
// }
// .jumbotron{
//     background-image: url("../img/pad.jpg");
//     background-size: cover; 
   
// }

  
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 60rem;
    padding: 15rem 0;
    background: linear-gradient(
            to bottom,
            #{fade-out(white, 0.7)} 0%,
            #{fade-out(grey, 0.3)} 75%,
            whitesmoke 100%
         ),
    url("../img/pad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    h1 {
        //font-family: $font-family-special;
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.8rem;
        //background: linear-gradient(fade-out(white, 0.1), fade-out(white, 1));
        //-webkit-text-fill-color: transparent;
        background-clip: text;
    }
    h2 {
        max-width: 20rem;
        font-size: 1rem;
    }
    // @include media-breakpoint-up(md) {
    //     h1 {
    //         font-size: 4rem;
    //         line-height: 4rem;
    //     }
    // }
    // @include media-breakpoint-up(lg) {
    //     height: 100vh;
    //     padding: 0;
    //     h1 {
    //         font-size: 6.5rem;
    //         line-height: 6.5rem;
    //         letter-spacing: 0.8rem;
    //     }
    //     h2 {
    //         max-width: 30rem;
    //         font-size: 1.25rem;
    //     }
    // }
}


.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up{
    width: 500px;
    height: 400px;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto; 
    border: solid black 1px; 
}
.container-account{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px
}
.account-tab{
    background: rgb(199, 198, 198);
    width: 500px;
    height: 450px;
}
.input-container{
    margin-top: 100px;
}
.projects-section {
    padding: 10rem 0;
    .featured-text {
        padding: 2rem;
    }
    .project-text {
        padding: 3rem;
         hr {
                border-color: black;
                border-width: 0.25rem;
                width: 30%;
            }
        
    }
}