/* 
    General Styles
*/
body {
    overflow-x: hidden !important;
}
.container {
    
    overflow-x: hidden !important;
}
.about-container{
     display: flex;
    justify-content: center;
    align-items: center;
    // width: 500px;
    // height: 350px;

}

.sign-up{
    width: 500px;
    height: 400px;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto; 
    border: solid black 1px; 
}

.container-account{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 800px
 

}

.account-tab{
    background: rgb(199, 198, 198);
    width: 500px;
    height: 400px;
}

.input-container{
    margin-top: 100px;
}