/* 
    General Styles
*/
body {
    overflow-x: hidden !important;
}
.container {
    
    overflow-x: hidden !important;
}
.sign-up{
    width: 500px;
    height: 400px;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto; 
    border: solid black 1px; 
}
.container{
    width: 500px;
    height: 400px;
    background: rgb(185, 184, 184);
    margin-left: auto;
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;


}